@import '../../styles/variables';
@import '../../styles/mediaQuery';

.container {
    @extend %container;
}

.loader {
    @extend %loader
}

.detail {
    @extend %paper;
    border-radius: 0;
    padding: $spacing1;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $spacing1;
    @include lg {
        border-radius: $radius;
        grid-template-columns: 680px 1fr;
        grid-gap: $spacing2;
        padding: $spacing2;
    }
}

.image {
    width: 100%;
    border-radius: $radius;
}

.title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 24px;
    word-break: break-all;
    @include lg {
        font-size: 24px;
        margin-bottom: $spacing1;
    }
}

.caption {
    font-size: 14px;
    color: $darkGrey;
    margin-bottom: 12px;
    display: block;
    @include lg {
        margin-bottom: $spacing1;
    }
}

.value {
    font-size: 46px;
    font-weight: 300;
    margin: 24px 0;
    @include lg {
        font-weight: 400;
        margin: $spacing2 0;
    }
    span {
        font-size: 22px;
        transform: translateY(-17px);
        display: inline-block;
        padding-left: 5px;
    }
}

.button {
    padding: 12px 10px;
    background-color: $blue;
    font-size: 15px;
    color: $white;
    border: none;
    border-radius: $radius;
    cursor: pointer;
    width: 100%;
}

.description {
    h4 {
        font-size: 24px;
        color: $black;
        margin-bottom: $spacing2;
        font-weight: 500;
        @include lg {
            font-size: 28px;
        }
    }
    p {
        font-size: 14px;
        color: $mediumGrey;
        line-height: 1.6;
        @include lg {
            font-size: 16px;
        }
    }
}