@import '../../styles/variables';
@import '../../styles/mediaQuery';

.container {
    @extend %container;
}

.products {
    @extend %paper;
}

.loader {
    @extend %loader
}

.article {
    .articleGrid {
        text-decoration: none;
        color: inherit;
        outline: 0;
        cursor: pointer;
        display: grid;
        grid-template-columns: 40% 1fr;
        padding: 0;
        @include lg {
            grid-template-columns: 180px 1fr 180px;
            padding: $spacing1;
        }
    }
    hr {
        width: 100%;
        height: 1px;
        background-color: $lightGrey;
        border: none;
        @include lg {
            width: 95;
        }
    }
    &:last-of-type {
        hr {
            display: none;
        }
    }
}

.imageContainer {
    width: 180px;
    height: 130px;
    max-width: 100%;
    @include lg {
        height: 180px;
    }
    img {
        border-radius: $radius;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.infoContainer {
    padding: 0 $spacing1;
    @include lg {
        padding: $spacing1;
    }
    h3 {
        margin-bottom: 18px;
        font-weight: 400;
        margin-top: 0;
        display: flex;
        align-items: center;
        font-size: 24px;
        @include lg {
            margin-bottom: $spacing2;
        }
        img {
            margin-left: 10px;
        }
    }
    p {
        font-size: 12px;
        line-height: 1.4;
        margin: 0;
        @include lg {
            font-size: 18px;
        }
    }
}

.locationContainer {
    padding: $spacing1 0 0 0; 
    @include lg {
        padding: $spacing1;
    }
    h6 {
        font-size: 12px;
        font-weight: 400;
        color: $mediumGrey;
        margin: 0;
    }
}